@use "./variables.scss" as *;
@use "./base.scss";
// put your custom CSS here!

.page > #quartz-body {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

// Links
a,
a.internal,
a.internal.internal {
  text-decoration: underline var(--tertiary);
  text-decoration-thickness: 2px;
  transition: all 0.35s ease-in-out;
  color: var(--secondary);

  &:hover {
    color: var(--tertiary-b);
    text-decoration-thickness: 0;
    text-decoration-color: var(--light);
  }

  &.internal {
    text-decoration: underline var(--tertiary);
    text-decoration-thickness: 2px;
    background-color: unset;
    padding: unset;
    border-radius: unset;
    line-height: unset;
  }
}

// Header
.page-title {
  background-image: url(static/klondike_logotype.png);
  @media (prefers-color-scheme: dark) {
    background-image: url(static/klondike_logotype_dm.png);
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2.5rem;
  transition: all 0.35s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  a,
  a:hover {
    text-decoration: none;
    color: transparent;
  }
}

.breadcrumb-element {
  p {
    color: var(--tertiary);
  }
  a {
    font-weight: $normalWeight;
    text-decoration: none;
  }
  &:last-of-type a {
    margin-bottom: 11px;
    font-weight: $semiBoldWeight;
    font-size: 32px;
  }
}

// Footer
footer p {
  opacity: 0.5;
  a {
    text-decoration: none;
  }
}
.footer-link {
  font-size: 18px;
  margin-top: 8px;
  margin-right: 8px;
}

p.song-title {
  margin-top: -3rem;
  font-size: 0;
}

// Chords

h4 {
  margin-bottom: 0;
}

button.clipboard-button {
  display: none;
}

pre {
  border-radius: $imageRadius;
  padding: 0 0.9rem;
  margin-left: -1.14rem;
}

pre > code {
  color: var(--tertiary-b);
  font-size: 1.1rem;
}

p:has(code):not(:has(a)) {
  margin: 0 0 -0.4rem 0;
  code {
    background: none;
    color: var(--tertiary-b);
    font-weight: $boldWeight;
  }
}

p.lyric {
  margin: 0;
}
