$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 380px;
$topSpacing: 4rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$imageRadius: 12px;

:root {
  --tertiary-b: #a383b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tertiary-b: #a9e0de;
  }
}
